<div class="onepagepro-mobile-header-wrap ">
  <div class="onepagepro-mobile-header onepagepro-header-background onepagepro-style-slide"
    id="onepagepro-mobile-header">
    <div class="onepagepro-mobile-header-container onepagepro-container">
      <div class="onepagepro-logo  onepagepro-item-pdlr">
        <div class="onepagepro-logo-inner">
          <a href=""><img src="./../../../assets/upload/logo.png" alt="" width="198" height="31" /></a>
        </div>
      </div>
      <div class="onepagepro-mobile-menu-right">
        <div class="onepagepro-overlay-menu onepagepro-mobile-menu" id="onepagepro-mobile-menu"><a
            class="onepagepro-overlay-menu-icon onepagepro-mobile-menu-button onepagepro-mobile-button-hamburger"
            href="#"><span></span></a>
          <div class="onepagepro-overlay-menu-content onepagepro-navigation-font">
            <div class="onepagepro-overlay-menu-close"></div>
            <div class="onepagepro-overlay-menu-row">
              <div class="onepagepro-overlay-menu-cell">
                <ul id="menu-main-menu" class="menu">
                  <li class="menu-item"><a href="#inicio">Início</a></li>
                  <li class="menu-item"><a href="#desaparecidos">Desaparecidos</a></li>
                  <li class="menu-item"><a href="#umaHistoria">Uma história</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="onepagepro-body-outer-wrapper ">
  <div class="onepagepro-bullet-anchor" id="onepagepro-bullet-anchor">
    <a class="onepagepro-bullet-anchor-link current-menu-item" href=""></a>
    <a class="onepagepro-bullet-anchor-link" href="#desaparecidos"></a>
    <a class="onepagepro-bullet-anchor-link" href="#umaHistoria"></a>
  </div>
  <div class="onepagepro-body-wrapper clearfix onepagepro-with-transparent-header onepagepro-with-frame">
    <div class="onepagepro-header-background-transparent">
      <header
        class="onepagepro-header-wrap onepagepro-header-style-plain  onepagepro-style-menu-right onepagepro-sticky-navigation onepagepro-style-slide"
        data-navigation-offset="75px">
        <div class="onepagepro-header-background"></div>
        <div class="onepagepro-header-container  onepagepro-header-full">
          <div class="onepagepro-header-container-inner clearfix">
            <div class="onepagepro-navigation onepagepro-item-pdlr clearfix onepagepro-navigation-submenu-indicator ">
              <div class="onepagepro-main-menu-right-wrap clearfix ">
                <div class="onepagepro-overlay-menu onepagepro-main-menu-right" id="onepagepro-right-menu"><a
                    class="onepagepro-overlay-menu-icon onepagepro-right-menu-button onepagepro-top-menu-button onepagepro-mobile-button-hamburger"
                    href="#"><span></span></a>
                  <div class="onepagepro-overlay-menu-content onepagepro-navigation-font">
                    <div class="onepagepro-overlay-menu-close"></div>
                    <div class="onepagepro-overlay-menu-row">
                      <div class="onepagepro-overlay-menu-cell">
                        <ul id="menu-main-menu-1" class="menu">
                          <li class="menu-item"><a href="#inicio">Início</a></li>
                          <li class="menu-item"><a href="#desaparecidos">Desaparecidos</a></li>
                          <li class="menu-item"><a href="#umaHistoria">Uma História</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="onepagepro-page-wrapper" id="onepagepro-page-wrapper">
      <div class="gdlr-core-page-builder-body">
        <app-intro id="inicio"></app-intro>

        <app-list id="desaparecidos"></app-list>

        <app-about id="umaHistoria"></app-about>
      </div>
    </div>
    <footer>
      <div class="onepagepro-copyright-wrapper">
          <div class="onepagepro-copyright-container onepagepro-container">
              <div class="onepagepro-copyright-text onepagepro-item-pdlr">Copyright {{year}} Patrick Guimarães
              </div>
          </div>
      </div>
    </footer>
  </div>
</div>