<div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px; background-color: #3512e0;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
      <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
        <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first" data-skin="about">
          <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 110px 80px 80px 0px;"
            data-sync-height="about-height">
            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
              <div class="gdlr-core-pbf-element">
                <div
                  class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                  <div class="gdlr-core-title-item-title-wrap">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                      style="font-size: 63px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">
                      <span class="gdlr-core-title-item-side-border gdlr-core-skin-divider gdlr-core-left"
                        style="border-color: #ffffff ;"></span>Jerônimo Amorim Oliveira</h3>
                  </div>
                </div>
              </div>
              <div class="gdlr-core-pbf-element">
                <div
                  class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                  style="padding-bottom: 55px ;">
                  <div class="gdlr-core-title-item-title-wrap">
                    <h5 class="gdlr-core-title-item-title gdlr-core-skin-title"
                      style="font-size: 26px ;font-weight: 400 ;letter-spacing: 0px ;text-transform: none ;color: #989899 ;">
                      "Fui em São Paulo, na cracolândia. Tocantins, Bahia, eu fui. Fui em Goiânia e apresentei a foto do meu filho e a ocorrência. Puxaram no sistema, mas não tinha nada, não constava [como desaparecido]."</h5>
                  </div>
                </div>
              </div>
              <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                  <div class="gdlr-core-text-box-item-content" style="color: #989899 ;">
                    <p>Em 2019, quando o pai descobriu que o filho estava usando drogas, pediu para que ele saísse para andar de bicicleta para espairecer. "Era fim de tarde. A gente teve uma longa conversa, eu, ele e o irmão dele", lembra Tenisson, o pai. "Passou cinco horas, seis horas e ele não retornou. Aí, acendeu uma luz vermelha."</p>
                    <p>O filho de Tenisson tem depressão. A bicicleta de Jerônimo foi localizada por um ciclista. A polícia procurou pelo jovem por três dias em uma área de mata próxima da casa da família. O pai recebeu uma mensagem de que o filho havia sido visto na rodoviária de Brasília. Uma senhora que o reconheceu relatou para a família ter visto a tatuagem de coração que Jerônimo tem no peito.</p>
                    <p>Angustiado, Tenisson viajou o Brasil em busca do filho.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gdlr-core-pbf-column gdlr-core-column-30">
          <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right"
            data-sync-height="about-height">
            <div class="gdlr-core-pbf-background-wrap">
              <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                style="background-image: url(./../../../assets/upload/about.png);background-size: cover ;background-position: center ;"
                data-parallax-speed="0.8"></div>
            </div>
            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>